body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
  font-size: 46px;
  color: #333;
  background: linear-gradient(
    to left,
    #f087b6,
    #90e9ed,
    #ece59d,
    #df80f1,
    #ff4d44
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 5000% 50%;
  background-repeat: repeat;
  background-position: 0 0;
  animation: bgFlow 5s infinite linear alternate;
}
@keyframes bgFlow {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}
button {
  margin: 100px;
  padding: 15px 10px;
  border: none;
  outline: none;
  color: #fff;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 12px;
}
button::after {
  content: '';
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #37a62b;
  left: 0;
  top: 0;
  border-radius: 10px;
}
button::before {
  content: '';
  background: linear-gradient(
    to right,
    #f087b6,
    #90e9ed,
    #ece59d,
    #df80f1,
    #ff4d44
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
button:hover {
  color: #37a62b;
}
button:hover::after {
  background: #fff;
}
button:hover::before {
  opacity: 1;
}
